
<div class="container-fluid bg-light">
  <div class="container bg-light py-5">
      <div class="card">
        <h4 class="card-header text-center bg-pink orange font-comfortaa">Gói bày tỏ </h4>
        <div class="card-body d-flex">
          <div class="">
            <img src="http://via.placeholder.com/250x250" alt="">
          </div>
          <div class="">
            <p class="card-text ml-3">
              <span class="orange font-comfortaa">Miêu tả:</span>
              <span class="font-comfortaa">1 gói thính câu xin gửi đến người bạn quan tâm kèm lời nhắn tùy chọn. Chất lượng đảm bảo nguồn gốc rõ ràng, màu sắc đẹp như tấm chân tình của bạn</span>
            </p>
            <p class="card-text ml-3">
              <span class="orange font-comfortaa">Khuyến cáo sử dụng:</span>
              <span class="font-comfortaa">Cho những bạn muốn đưa thả thính lên 1 tầm cao mới</span>
            </p>
            <p class="card-text ml-3">
              <span class="orange font-comfortaa">Giá thành:</span>
              <span class="font-comfortaa">15.000 VND/gói.</span>
            </p>
              <a href="#" class="btn btn-primary float-right mt-5 bg-addcart">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Thêm vào giỏ
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>


    </div>

  </div>
</div>
