<div class="container-fluid bg-light">
  <div class="container bg-light py-5 pb-1rem">
    <div class="card mt-3">
      <h4 class="card-header text-center bg-pink orange font-comfortaa">GÓI BÀY TỎ </h4>
      <div class="card-body d-flex">
        <div class="w-300 h-400">
          <img class="w-300 h-400 object-fit"src="../../static/images/thinh.png" alt="">
        </div>
          <div class="ml-5 mt-3">
            <p class="card-text mb-3">
              <span class="orange font-comfortaa">Miêu tả:</span>
              <span class="font-comfortaa text-black">1 gói thính câu xịn gửi đến người bạn quan tâm kèm lời nhắn tùy chọn. Chất lượng đảm bảo nguồn gốc rõ ràng, màu sắc đẹp như tấm chân tình của bạn</span>
            </p>
            <p class="card-text mb-3">
              <span class="orange font-comfortaa">Khuyến cáo sử dụng:</span>
              <span class="font-comfortaa text-black">Cho những bạn muốn đưa thả thính lên 1 tầm cao mới, hiểu được tầm quan trọng của việc sống thật - thả thính thật thay vì sống ảo trên mạng</span>
            </p>
            <p class="card-text mb-3">
              <span class="orange font-comfortaa">Giá thành:</span>
              <span class="font-comfortaa text-black">15.000 VND/gói.</span>
            </p>
              <button id="add_cart_1"type="button" name="button" class=" mr-2 btn btn-primary float-right mt-5 bg-addcart">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Thêm vào giỏ
              </button>
          </div>
      </div>
    </div>
    <div class="card">
      <h4 class="card-header text-center bg-pink orange font-comfortaa">GÓI LÃNG MẠN</h4>
      <div class="card-body d-flex">
        <div class="w-300 h-400">
          <img class="w-300 h-400 object-fit-contain" src="../../static/images/chuoi.png" alt="">
        </div>
        <div class="ml-5 mt-3">
          <p class="card-text mb-3">
            <span class="orange font-comfortaa">Miêu tả:</span>
            <span class="font-comfortaa text-black">1 gói thính câu xịn kèm 1 món quà bất ngờ (như cam, táo, chuối gói bánh, gói bim bim bông hoa hồng, thanh chocolate) gửi đến người bạn quan tâm kèm lời nhắn tùy chọn. Chất lượng đảm bảo, nguồn gốc rõ ràng, màu sắc đẹp như tấm chân tình của bạn</span>
          </p>
          <p class="card-text mb-3">
            <span class="orange font-comfortaa">Khuyến cáo sử dụng:</span>
            <span class="font-comfortaa text-black">Cho những bạn cảm thấy gói bày tỏ vẫn chưa thể hiện hết thành ý, hoặc đã qua bước bày tỏ và muốn đưa tình cảm nên 1 nấc thang mới.</span>
          </p>
          <p class="card-text mb-3">
            <span class="orange font-comfortaa">Giá thành:</span>
            <span class="font-comfortaa text-black">40.000 VND/gói.</span>
          </p>
          <button id="add_cart_2"type="button" name="button" class="mr-2 btn btn-primary float-right mt-5 bg-addcart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Thêm vào giỏ
          </button>

          </div>

      </div>
    </div>
    <div class="card">
      <h4 class="card-header text-center bg-pink orange font-comfortaa">GÓI BẢO TRÌ </h4>
      <div class="card-body d-flex">
        <div class="w-300 h-400">
          <img class="w-300 h-400 object-fit" src="../../static/images/agenda.jpg" alt="">
        </div>
        <div class="ml-5 mt-3">
          <p class="card-text mb-3">
            <span class="orange font-comfortaa">Miêu tả:</span>
            <span class="font-comfortaa">5 gói quà gửi đến vào 5 ngày kỉ niệm đắc biệt trong năm</span>
          </p>
          <p class="card-text mb-3">
            <span class="orange font-comfortaa">Khuyến cáo sử dụng:</span>
            <span class="font-comfortaa">Cho những bạn tình cảm dạt dào nhưng trí nhớ kém, hay quên những ngày kỉ niệm quan trọng. Đầy là biện pháp đảm bảo chống sứt mẻ tình cảm hiệu quả, mang đến tình yêu tình bạn bền lâu.</span>
          </p>
          <p class="card-text mb-3">
            <span class="orange font-comfortaa">Giá thành:</span>
            <span class="font-comfortaa">200.000 VND/gói.</span>
          </p>
          <button id="add_cart_3"type="button" name="button" class="mr-2 btn btn-primary float-right mt-5 bg-addcart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Thêm vào giỏ
          </button>

          </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-light">
  <form id="check_out" method="post" class="d-block d-flex justify-content-center">
    <input style="display:none" id="package_1" type="number" name="package1" value="0">
    <input style="display:none" id="package_2" type="number" name="package2" value="0">
    <input style="display:none" id="package_3" type="number" name="package3" value="0">
    <button type="submit" class="btn btn-primary bg-addcart confirm-button" data-toggle="tooltip" data-placement="top" title="Chuyển sang trang thanh toán">
      Hoàn tất
    </button>
  </form>
</div>
