.bg-addcart{
  background-color: rgb(219, 144, 77) !important;
}
.orange{
  color: rgb(231, 141, 47)!important;
}
.bg-pink{
  background-color: rgb(219, 141, 231)!important;
}
.w-300{
  width: 300;
}
.h-200{
  height: 200;
}
