.font-25px{
  font-size: 20px;
}

.font-27px{
  font-size: 27px;
}

.font-65px{
  font-size: 65px
}

.font-30px{
  font-size: 30px;
}

.font-comfortaa{
  font-family: 'Comfortaa', cursive;
}

.font-nabila {
  font-family: Nabila;
}

@font-face {
  font-family: Nabila;
  src: url(../../static/fonts/Nabila.ttf);
}

.h-500px{
  height: 500px;
}
.pb-1rem{
  padding-bottom: 1rem!important;
}
.confirm-button{
  margin-bottom: 20px;
}
.w-100{
  width: 100%;
}
.h-30{
    height: 30px !important;
}
.bg-lightgreen{
  background-color: rgb(201,227,223)
}

.border-h{
  height: 1px;
}

.border-w{
  width: 10px;
}

.color-orange{
  border-color: rgb(245, 192, 10)
}

.color-lightorange{
  background-color: rgb(255,226,152)
}

.bg-story-image{
  background-image: url('../images/bg_main.png');
  background-size: cover;
  /* background-attachment: fixed; */
}

.h-100px{
  height: 100px
}

.w-600px{
  width: 600px;
}

.h-600px{
  height: 600px;
}

.h-300px{
  height: 300px
}

.bg-female{
  background-image: url('../images/service_image_1.jpg');
  background-size: cover;
  height: 300px;
  width: 50%;
}

.bg-male{
  background-image: url('../images/service_image_2.jpg');
  background-size: cover;
  width: 50%;
  height: auto;
}

.object-fit{
  object-fit: cover
}

.w-50{
  width: 50%
}

.w-20{
  width: 20%
}

.text-orange{
  color: #dc734c
}

.bg-orange{
  background-color: #DD744D
}

.color-black{
  color: #545454
}

.text-black{
  color: #5B5D5D
}

p { margin:0 }

.font-65px{
  font-size: 65px
}

.font-23px{
  font-size: 20px
}

.margin-left{
  margin-left: 0px
}
.submit-button{
  border: 1px solid #E49375 !important;
  width: 40%;
}
.margin-right{
  margin-right: 0px
}
.display-none{
  display: none;
}
.w-30{
  width: 30%
}
.border-orange-1{
  border: 2px solid #E49375 !important;
  width: 50% !important;
}
.border-orange-2{
  border: 2px solid #E49375 !important;
  width: 100% !important;
  height: 50px;
}
.bg-left{
  -webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);
}

.bg-right{
  -webkit-clip-path: polygon(0 0, 94% 0, 85% 100%, 0% 100%);
clip-path: polygon(0 0, 94% 0, 85% 100%, 0% 100%);
}
.w-120{
  width: 120px !important;
}
.h-100{
  height: 100px !important;
}
.ml-6{
  padding-left: 6px;
}

.mr-10{
  margin-right: 10px;
}

.mt-8{
  margin-bottom: 8px;
}

.bg-test{
  background-color: gray
}

.w-30{
  width: 30%;
}

.w-70{
  width: 70%;
}

.columns-2{
  column-count: 2:
}
.border-package{
  border-bottom: 2px solid #e9ecef!important;
}
