
    <!-- background -->
<div class="h-500px w-100 bg-lightgreen d-flex justify-content-center align-items-center mb-5">
      <div class="">
        <div class="mb-0 d-flex align-items-center">
          <span class="font-comfortaa text-dark mr-2 font-weight-bold font-27px mb-2 text-black">Hãy</span>
          <span class="font-comfortaa text-orange font-weight-bold font-65px ml-2 align-self-center"> THẢ THÍNH </span>
        </div>
          <br>
          <span class="font-comfortaa text-dark font-weight-bold font-27px text-black">theo cách của bạn</span>
      </div>
      <img src="../../static/images/bear.png" height="550px" width="auto" class="mb-5 ml-5" alt="">
</div>

    <!-- head -->
<div class="mt-5 d-flex justify-content-center">
  <h1 class="font-comfortaa mt-5">Các gói dịch vụ</h1>
</div>


    <!-- The orange line -->
<div class="d-flex justify-content-center mb-5">
    <hr align="center" width="15%" class="color-orange">
</div>

    <!-- 3 symbols -->
<div class="d-flex justify-content-around container mb-3">
  <img src="../../static/images/fish.png" width="90px" height="90px" alt="">
  <img src="../../static/images/crab.png" width="90px" height="90px" alt="">
  <img src="../../static/images/fishtank.png" width="90px" height="90px" alt="">

</div>

    <!-- 3 services -->
<div class="d-flex justify-content-around container mb-5">

    <div class="card w-20 border-0">
      <div class="card-header color-lightorange text-orange text-center font-comfortaa font-weight-bold font-23px">GÓI BÀY TỎ</div>
      <div class="card-body mt-2 bg-lightgreen">
        <p class="card-text font-comfortaa text-justify">1 gói thính sờ được, ngửi được gửi đến người bạn quan tâm kèm lời nhắn tùy chọn</p>
        <div class="d-flex justify-content-center">
          <a href="{{url_for('service')}}" class="btn bg-orange text-light font-comfortaa mt-3">Xem thêm</a>
        </div>
      </div>
    </div>


  <div class="card w-20 border-0">
    <div class="card-header color-lightorange text-orange text-center font-comfortaa font-weight-bold font-23px">GÓI LÃNG MẠN</div>
    <div class="card-body mt-2 bg-lightgreen">
      <p class="card-text font-comfortaa text-justify">1 gói thính kèm 1 phần quà lãng mạn bất ngờ (chocolate, hoa hồng, cà rốt, củ sắn, quả đào, vv..)</p>
      <div class="d-flex justify-content-center">
        <a href="{{url_for('service')}}" class="btn bg-orange text-light font-comfortaa mt-3">Xem thêm</a>
      </div>
    </div>
  </div>

  <div class="card w-20 border-0">
    <div class="card-header color-lightorange text-orange text-center font-comfortaa font-weight-bold font-23px">GÓI BẢO TRÌ</div>
    <div class="card-body mt-2 bg-lightgreen">
      <p class="card-text font-comfortaa text-justify">Các phần quà bất ngờ tự động gửi đến người yêu thương của bạn vào mỗi dịp kỉ niệm, ngày lễ.</p>
      <div class="d-flex justify-content-center">
        <a href="{{url_for('service')}}" class="btn bg-orange text-light font-comfortaa mt-3">Xem thêm</a>
      </div>
    </div>
  </div>

</div>

<br> <br>
