<div class="bg-story-image mt-8 py-5 h-600px pl-5 d-flex align-items-end" style="background-image: url('../../../static/images/bg_main.png')">
    <div class="text-dark">
      <h1 class="font-weight-bold text-orange font-65px"> CÂU CHUYỆN </h1>
        <p class="w-600px font-comfortaa">Bạn từng cảm nắng một người tên Dũng hoặc Hải rất nhiều, nhưng lại không dám nói ra?</p>
        <p class="w-600px font-comfortaa">Bạn luôn muốn dành tặng những món quà bất ngờ và ý nghĩa đến những người yêu dấu, nhưng lại quá bận rộn với công việc của mình?</p>
        <p class="w-600px font-comfortaa">Nếu như bạn không tự tin với khả năng thả thính của bản thân, hãy dùng những gói thính chất lượng của chúng tôi để thay lời muốn nói.</p>
        <p class="w-600px font-comfortaa">THÍNH BÀ HƯƠNG - Thoát ế thật là quá dễ!</p>
    </div>
</div>
