<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="container text-center text-black font-comfortaa mb-4">
      Giỏ thính của bạn có
    </h1>
    <div class="container d-flex justify-content-between border-package p-3">
      <span class="w-120 text-center font-comfortaa">Hình ảnh</span>
      <span class="w-120 text-center font-comfortaa">Tên gói</span>
      <span class="w-120 text-center font-comfortaa">Số lượng</span>
    </div>
    <div class="container d-flex justify-content-between border-package p-3">
      <img class="w-120 h-100 object-fit"src="../../static/images/thinh.png" alt="">
      <span class="w-120 text-center font-comfortaa">Gói Bày Tỏ</span>
      <span id="package_1" class="w-120 text-center font-comfortaa">{{ packages['package1'] }}</span>

    </div>
    <div class="container d-flex justify-content-between border-package p-3">
      <img class="w-120 h-100 object-fit-contain" src="../../static/images/chuoi.png" alt="">
      <span class="w-120 text-center font-comfortaa">Gói Lãng Mạn</span>
      <span id="package_2" class="w-120 text-center font-comfortaa">{{ packages['package2'] }}</span>
    </div>
    <div class="container d-flex justify-content-between border-package p-3">
      <img class="w-120 h-100 object-fit" src="../../static/images/agenda.jpg" alt="">
      <span class="w-120 text-center font-comfortaa">Gói Bảo Trì</span>
      <span id="package_3" class="w-120 text-center font-comfortaa">{{ packages['package3'] }}</span>
    </div>

    </form>
  </body>
</html>
