<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thông tin đơn hàng</title>
  </head>
  <body>
    <div class="container mt-5">
      <form class="" method="post">
        <label class="mb-0 font-comfortaa" for="">Tên người nhận thính</label><br>
        <input class="mb-3 border-orange-1" type="text" name="name" value=""><br>

        <label class="mb-0 font-comfortaa" for="">Địa chỉ người nhận thính</label><br>
        <input class="mb-3 border-orange-1" type="text" name="address" value=""><br>

        <label class="mb-0 font-comfortaa" for="">Email của bạn</label><br>
        <input class="mb-3 border-orange-1" type="text" name="email" value=""><br>

        <label class="mb-0 font-comfortaa" for="">Số điện thoại của bạn</label><br>
        <input class="mb-3 border-orange-1" type="text" name="phone" value=""><br>

        <label class="mb-0 font-comfortaa" for="">Lời nhắn của bạn</label><br>
        <input class="mb-3 border-orange-2" type="text" name="note" value=""><br>

        <input class="text-center text-light bg-orange submit-button rounded" type="submit" value="Xác nhận đơn hàng">
    </form>
  </body>
</html>
