<div class="d-flex justify-content-around mt-5 mb-5">

    <div class="">
        <h4 class="font-nabila text-dark">Thính Bà Hương</h4>
        <h3 class="font-weight-light">All rights reserved.</h3>
    </div>


    <div class="">
        <h2 class="font-weight-light">FOLLOW US</h2>
        <div class="d-flex justify-content-around">
          <a href="https://www.facebook.com/Th%C3%ADnh-B%C3%A0-H%C6%B0%C6%A1ng-1650719884971595/"> <img src="../../static/images/facebook_logo.png" width="20px" height="auto"> </a>
          <a href="https://www.instagram.com/thinhbahuong/"> <img src="../../static/images/instagram_logo.png" width="40px" height="auto">  </a>
        </div>
    </div>


    <div class="">
        <h2 class="font-weight-light">CONTACT US</h2>
        <p>nit.c4e@gmail.com</p>
        <p>01682865389</p>
    </div>
</div>
