<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Package 1</label>
      <input type="text" name="Package_1" value="" placeholder="True or False">
      <br>

      <label for="">Package 2</label>
      <input type="text" name="Package_2" value="" placeholder="True or False">
      <br>

      <label for="">Package 3</label>
      <input type="text" name="Package_3" value="" placeholder="True or False">
      <br>

      <input type="submit" name="" value="Đơn hàng">

    </form>
  </body>
</html>
