<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thông tin đơn hàng</title>
  </head>
  <body>
    <p>Đơn hàng của bạn</p>
    <div id="shopping-cart">
      <div class="">
        <img src="" alt="">
        {% for package in packages %}
          {% if package.choice == True %}
            <p>{{package.name}}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>


    </form>
    <form class="" method="post">
      <label for="">Tên người nhận</label>
      <input type="text" name="name" value="">
      <br>

      <label for="">Địa chỉ người nhận</label>
      <input type="text" name="address" value="">
      <br>

      <label for="">Số điện thoại người nhận</label>
      <input type="text" name="phone" value="">
      <br>

      <label for="">Email của bạn</label>
      <input type="text" name="email" value="">
      <br>

      <label for="">Lời nhắn gửi</label>
      <input type="text" name="message" value="">
      <br>

      <input type="submit" name="" value="Đặt hàng">
    </form>
  </body>
</html>
